/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
sdcard/images/
support/tools/procrank_linux/libpagemap/libpagemap.a
support/tools/procrank_linux/procrank
